# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Next.js
.next/
out/

# Expo
.expo/
dist/
web-build/

# Native
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Metro
.metro-health-check*

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# OS
.DS_Store
*.pem
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Supabase
supabase/.temp/

# Build
*.tsbuildinfo
next-env.d.ts
